* {
    font-family:"Open Sans normal";
    font-size: 14px;
    padding: 0;
    margin:0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6FA;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100%;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-radius: 5px;
    min-height: 40px;
    background-color: #FFFFFF;
}

.ok {
    width: 50px;
    height: 20px;
    border: 2px solid skyblue;
    border-radius: 5px;
    font-size: 12px;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: skyblue;
    background-color: #FFFFFF;
}

.last-mail {
    border-bottom: 1px solid #DADADA;
}    

#mail-area {
    width: 30%;
}

#mail-count-box {
    height: 50px;
    width: 100%;
    justify-content: flex-start;
}

#mail-count-box p {
    padding-left: 10px;
}
#mail-count-box div {
    padding-left: 20px;
}

#search-input {
    height: 20px;
    width: 50%;
}

#mail-new-box {
    justify-content: flex-start;
    height: 60px;
    width: 100%;
}

#mail-new-box div {
    margin-left: 10px;
    width: 100%;
}

#mail-box {
    width: 100%;
}

#mail-input {
    padding-left: 10px;
    height: 40px;
    width: 80%;
}

#mail-add-btn {
    margin-left: 20px;
    width: 50px;
}

#mail-count-val  {
    font-weight: bold;
}

.author-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 30px;
    max-width: 60px;
    min-height: 30px;
    max-height: 60px;
    padding: 15px;
    border: 0px;
    border-radius: 50%;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    max-height: 200px;
}

.author {
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}

.content {
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.trash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15px;
    height: 15px;
    padding: 10px;
}

input:hover {
    border-color: black;
}

input:focus {
    outline:0;
}